.buttonRow {
	justify-content: space-between;
	width: 535px;
	display: flex;
	margin-bottom: 40px;
	margin-top: 50px;
}
.column {
	display: flex;
	width: 699px;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.shieldLogo {
	margin-top: 40px;
	width: 880px;
	height: 207px;
}
