.exit {
	position: absolute;
	right: 25px;
	top: 25px;
	cursor: pointer;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	display: flex;
}

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
	border-radius: 5px;
	z-index: 100000;
}
